@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

h1 {
  font-family: "Playfair Display", serif;
  letter-spacing: 1.3px;
  padding: 0.8rem;
}

h2 {
  font-family: "Montserrat", serif;
  letter-spacing: 1.3px;
  padding: 0.8rem;
}

p {
  font-family: "Open Sans", serif;
  letter-spacing: 1.3px;
  font-size: large;
  text-align: justify;
  margin: 0 5%;
}

.menu,
.close {
  position: fixed;
  right: 1%;
  color: #fff;
  cursor: pointer;
  font-size: 2.4rem;
}

.nav-cont {
  width: 100%;
  background-color: #0f2c49;
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}

.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 1%;
  top: 1%;
}

a {
  font-family: "Montserrat", serif;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

.logo a {
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0 0.4rem;
  letter-spacing: 1.3px;
  font-size: larger;
}

.logo a:hover,
.menu:hover,
.close:hover {
  color: #fa991c;
  transform: translateY(-8%);
  transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

nav {
  position: fixed;
  right: 1%;
  top: 3%;
}

nav a {
  font-size: large;
  color: #fff;
  font-family: "Montserrat", serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0.5rem;
  letter-spacing: 1.3px;
  transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-cont nav a.active {
  color: #fa991c;
  border-bottom: 0.1px solid #fa991c;
}

nav a:hover {
  transform: translateY(-0.5rem);
  color: #f35d22;
}

@media (max-width: 880px) {
  nav {
    background-color: #0f2c49;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0%;
    width: 60%;
    height: 100vh;
    top: 10%;
  }
  nav a {
    margin: 1rem 0;
  }
}

@media (max-width: 650px) {
  nav {
    width: 80%;
  }
}
